@import "src/styles/variables";

.wrapper {
  margin-left: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.title {
  margin-top: 47px;
  font: $hse-font-family;
  margin-left: 107px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
}

.subtitle {
  margin-top: 47px;
  font: $hse-font-family;
  margin-left: 107px;
  font-weight: 400;
  font-size: 28px;
  line-height: 64px;
}

.tag {
  display: inline-block;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

/*!* Create two unequal columns that floats next to each other *!
.column {
  float: left;
  padding: 10px;
  padding-left: 50px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  padding-top: 25px;
}

!* Clear floats after the columns *!
.row:after {
  content: "";
  display: table;
  clear: both;
}*/

.upd {
  padding: 50px;
}

.text {
  font-size: 30px;
  padding-left: 50px;
  font-family: 'HSE Sans';
  font-weight: 900;
  font-style: inherit;
}

.text2 {
  font-family: 'HSE Sans';
  font-weight: normal;
  font-style: normal;
}

.card {
  width: 285px;
  padding: 24px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid $color-grey-morn-1;
  border-radius: 8px;
  font: $hse-font-size-base;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  transition: border, box-shadow .3s;
  cursor: pointer;
}

.card:hover {
  border: 1px solid #aaa;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}

.card-btn-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
}

.card-faculty {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: $hse-font-family-alt;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0px;
}
.card-text {
  font: $hse-font-family-alt;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.card-date {
  font: $hse-font-family-alt;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 120px;
  float: left;
  margin-left: 16px;
  color: $color-grey-dusk-1;
  text-align: center;
}

.icon {
  width: 80px;
  height: 80px;
  float: left;
  color: $color-grey-morn-3;
}

.one-line {
  float: left;
  display: flex;
  align-items: center;
}

.messageMain {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1003;
  width: 600px;
  height: 400px;
  background-color: $color-base-white;
  border: 1px solid $color-grey-morn-1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 80px;
}

.myStudentContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.messageMeeting{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1003;
  width: 500px;
  background-color: $color-base-white;
  border: 1px solid $color-grey-morn-1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
}

.messageTitle, .messageMeetingTitle {
  margin-top: 32px;
  font: $hse-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.messageMeetingTitle{
  margin-bottom: 32px;
}

.messageText {
  text-align: center;
  margin-top: 10px;
  font: $hse-font-family;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  z-index: 1002;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0.65);
}

