<p class="title">{{HEADER}}</p>

<ng-container *ngIf="!studentInfo">
  <app-loader></app-loader>
</ng-container>

<div class="wrapper" *ngIf="studentInfo">
  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.STUDENT_NAME}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.FIRST_NAME" [(ngModel)]="studentInfo.name"></app-input>
  </div>
  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.SURNAME}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.LAST_NAME" [(ngModel)]="studentInfo.surname"></app-input>
  </div>
  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.GENDER}}</p>
    <app-multi-select
      [collection]="genderCollection"
      [placeholder]="gender"
      [isMulti]="false"
      [showSearchInput]="false"
      [(ngModel)]="gender">
    </app-multi-select>
  </div>
  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.DATE_OF_BIRTH}}</p>
    <app-date-picker [(ngModel)]="studentInfo.birthDate"></app-date-picker>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.PHONE_NUMBER}}</p>
    <app-input
      [placeholder]="PLACEHOLDER_LOCALIZATION.PHONE_NUMBER"
      [(ngModel)]="studentInfo.phone"
      [mask]="PLACEHOLDER_LOCALIZATION.STUDENT_PHONE_MASK"
      [maskPrefix]="PLACEHOLDER_LOCALIZATION.STUDENT_PHONE_PREFIX"
    ></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CITIZENSHIP}}</p>
    <app-multi-select
      [collection]="citizenshipCollection"
      [placeholder]="studentInfo.citizenship"
      [isMulti]="false"
      [showSearchInput]="true"
      [(ngModel)]="studentInfo.citizenship"
    >
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CAMPUS}}</p>
    <app-multi-select
      [collection]="campusCollection"
      [placeholder]="campus"
      [isMulti]="false"
      [showSearchInput]="true"
      [(ngModel)]="campus"
    >
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.HSE_FACULTY}}</p>
    <app-multi-select
      [collection]="facultyCollection"
      [placeholder]="studentInfo.localFaculty"
      [isMulti]="false"
      [showSearchInput]="true"
      [(ngModel)]="studentInfo.localFaculty">
      >
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.HOME_UNIVERSITY}}</p>
    <app-input [(ngModel)]="studentInfo.foreignStudent.homeUniversity"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CATEGORY}}</p>
    <app-multi-select
      [collection]="localGroupCollection"
      [placeholder]="localGroup"
      [isMulti]="false"
      [showSearchInput]="false"
      [(ngModel)]="localGroup">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_1}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]="tagName1"
      [isMulti]="false"
      [showSearchInput]="false"
      [(ngModel)]="tagName1"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_2}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]="tagName2"
      [isMulti]="false"
      [showSearchInput]="false"
      [(ngModel)]="tagName2"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_3}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]="tagName3"
      [isMulti]="false"
      [showSearchInput]="false"
      [(ngModel)]="tagName3"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.ABOUT}}</p>
    <app-textarea [placeholder]="PLACEHOLDER_LOCALIZATION.MORE_INFORMATION"
                  [(ngModel)]="studentInfo.about"></app-textarea>
  </div>
  <div class="btn-container">
    <div class="button2">
      <button class="btn btn-primary"
              (click)="isShowPopUp = true">{{GLOBAL_LOCALIZATION.BUTTON_UPDATE_LABEL}}</button>
    </div>
  </div>
</div>

<span *ngIf="isShowPopUp"><app-popup (deny)="isShowPopUp = false" (accept)="onSubmit()"
                                     [title]="TITLE"></app-popup></span>

<ng-container *ngIf="isShowErrorPopup">
  <error-message-popup (deny)="isShowErrorPopup = false; this.isShowPopUp = false;"></error-message-popup>
</ng-container>

