<div *ngIf="isLoading" >
  <app-loader></app-loader>
</div>


<ng-container *ngIf="!isLoading">
  <div class="main" >
    <div class="profile-desc">
      <img *ngIf="gender.toLowerCase() === 'female'" src="assets/icons/avatar_female.svg" width="100">
      <img *ngIf="gender.toLowerCase() === 'male'" src="assets/icons/avatar-male.svg" width="100">
      <div class="profile-you">
        <div class="profile-name">{{name}}</div> <div class="profile-name">{{surname}}</div>
        <div class="profile-description">Student profile</div>
      </div>
    </div>
  </div>
  <div class="tags">
    <div *ngFor="let tag of tagList" class="main11">
      <p class="text11">{{tag.name}}</p>
    </div>
  </div>
  <div class="wrapper">
    <p class="title">Personal information</p>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Gender</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="gender"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Date of birth</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="birthDate"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Email</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="email"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Citizenship</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="homeCountry"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Campus</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="campus"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">HSE faculty</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="localFaculty"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Home university</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="homeUniversity"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Category of student</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="localGroup"></app-input>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <h3 class="text2">About me</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="about"></app-input>
      </div>
    </div>



    <p class="title">Arrival & residence</p>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Arrival date</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="arrivalDate"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Arrival time</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="arrivalTime"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Arrival place</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="arrivalPlace"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Place of residence</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="residencePlace"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Address</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="address"></app-input>
      </div>
    </div>
  </div>

</ng-container>
