@import "src/styles/variables";

.wrapper{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
.title{
  margin-top: 47px;
  font: $hse-font-family;
  margin-left: 107px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
}
.tag {
  display:inline-block;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  padding: 50px;
  padding-left: 60px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  padding-top: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.upd {

  padding: 50px;
}

.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image{
  margin-left: 15px;
}

.text {
  font-size: 30px;
  padding-left: 50px;
  font: $hse-font-family;
  font-weight: 900;
  font-style: inherit;
}

.text2 {
  font: $hse-font-family;
  font-weight: normal;
  font-style: normal;
}

.main {
  width: 360px;
  margin: 0 auto;
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
}


.button{
  margin-top: 24px;
  margin-left: 36px;
  margin-right: 36px;
}

.icon{
  width: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

.text01 {
  width: 250px;
  margin-left: 1px;
  font-size: 16px;
  font-style: inherit;
}
.text02{
  //margin-left: 38px;
  font-size: 16px;
  font-style: inherit;
}
.text03 {
  width: 250px;
  margin-left: 10px;
  font-size: 16px;
  font-style: inherit;
}




.leaveReviewMain {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1003;
  width: 600px;
  height: 448px;
  background-color: $color-base-white;
  border: 1px solid $color-grey-morn-1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leaveReviewTitle {
  margin-top: 32px;
  font: $hse-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.leaveReviewText {
  font: $hse-font-family;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.backdrop {
  position: fixed;
  z-index: 1002;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0.65);
}

.leaveReviewStars {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaveReviewInput {
  margin-top: 45px;
}

.stars{
  cursor: pointer;
}

.stars:hover svg path{
  fill: #FF8914FF
}


.block {
  width: 960px;

  padding: 32px 32px;

  margin-left: 48px;
  margin-top: 45px;
  background: #F5F6FA;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  transition: border, box-shadow .3s;

}

.block:hover {
  border: 1px solid #aaa;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}

.leaveReview {
  width: 960px;
  margin-left: 48px;
  margin-top: 45px;
}

.subtitle {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 40px;
}


.messageMain {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1003;
  width: 600px;
  height: 400px;
  background-color: $color-base-white;
  border: 1px solid $color-grey-morn-1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 80px;
}

.messageTitle {
  margin-top: 32px;
  font: $hse-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.messageText {
  text-align: center;
  margin-top: 10px;
  font: $hse-font-family;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  z-index: 1002;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0.65);
}


