@import "../../../../../styles/variables";

.buddyName {
  margin-right: 16px;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #D3D8E6;
  cursor: pointer;
  padding: 6px 25px;
  font: $hse-font-family;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #6B7A99;
}
.buddyName:hover{
  background: #D3D8E6;
}


.table-container {
  max-width: 1400px;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 16px 32px;
  text-align: center;
  font: $hse-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

th {
  font: $hse-font-family;
  padding: 16px 0;
  background-color: #F0F5FF;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #6B7A99;
  text-align: center;
}

tbody:nth-child(odd) {
  background-color: #F8F9FB;
}

.main {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1003;
  width: 1169px;
  padding: 40px 40px 80px 40px;
  background-color: $color-base-white;
  border: 1px solid $color-grey-morn-1;
  border-radius: 12px;
  height: 550px;

  .showTable{
    max-height: 400px;
    overflow-y: auto;
  }
}

.backdrop {
  position: fixed;
  z-index: 1002;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0.65);
}

.title {
  margin-bottom: 20px;
  font: $hse-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.btn-close{
  position: absolute;
  bottom: 25px;
  left: 25px;
}
