<p class="title">Dashboard</p>

<div>


      <div class="messageMain">

        <div class="messageTitle">{{EMAIL_LOCALIZATION.EMAIL_TITLE}}</div>
        <div class="messageText">Your account is archived. Please send an email to the email address below.</div>

        <app-input [(ngModel)]="EMAIL_LOCALIZATION.EMAIL" [disabled]="true"></app-input>

      </div>

  <div class="wrapper">
    <div class="column" *ngFor="let student of students; let i = index">
      <div class="card">
        <div class="one-line">
          <div class="icon">
            <app-icon name="person"></app-icon>
          </div>
          <div class="card-date">{{date[i].toLocaleString("ru-RU")}}</div>
        </div>
        <div class="card-faculty"> Faculty: {{student.localFaculty}}</div>
        <div class="card-text">Country: {{student.foreignStudent.homeCountry}}</div>
        <div class="card-btn-container">
          <button class="btn btn-secondary"
                  (click)="onInfoStudent(student)">
            info
          </button>
          <button class="btn btn-primary" (click)="takeHandler(student.id)">take</button>
        </div>
      </div>
      <div class="info" *ngIf="id === student.id">

        <app-student-info
          [studentInfo]="studentInfo"
          (deny)="id = -1"
          [isTaken]="true"

        ></app-student-info>
      </div>
    </div>
  </div>
  <div></div>
</div>


<span *ngIf="isShowPopUp">
    <app-popup (accept)="onSubmit()" (deny)="isShowPopUp = false" [title]="POPUP_LOCALIZATION.ACCEPT_POPUP"></app-popup>
  </span>

