<p class="title">{{HEADER}}</p>

<div *ngIf="!students">
  <app-loader></app-loader>
</div>

<div *ngIf="students">

  <ng-container *ngIf="students.length === 0">
    <div class="error-title">{{PLACEHOLDER_LOCALIZATION.NO_STUDENTS_MESSAGE}}</div>
  </ng-container>


<!--      <div class="messageMain">

        <div class="messageTitle">{{EMAIL_LOCALIZATION.EMAIL_TITLE}}</div>
        <div class="messageText">{{EMAIL_LOCALIZATION.TEXT}}</div>

        <app-input [(ngModel)]="EMAIL_LOCALIZATION.EMAIL" [disabled]="true"></app-input>

      </div>-->

  <div class="wrapper">
    <div class="column" *ngFor="let student of students; let i = index">
      <div class="card" (click)="onInfoStudent(student)">
        <div class="one-line">
          <div class="icon">
            <app-icon name="person"></app-icon>
          </div>
          <div class="card-date">{{date[i].toLocaleString("ru-RU")}}</div>
        </div>
        <div class="card-faculty"> {{PLACEHOLDER_LOCALIZATION.FACULTY}}: {{student.localFaculty}}</div>
        <div class="card-text">{{PLACEHOLDER_LOCALIZATION.COUNTRY}}: {{student.foreignStudent.homeCountry}}</div>
        <div class="card-btn-container">
          <button class="btn btn-secondary"
                  (click)="onInfoStudent(student)">
            {{GLOBAL_LOCALIZATION.BUTTON_INFO_LABEL}}
          </button>
          <button class="btn btn-primary" (click)="takeHandler(student.id)">{{GLOBAL_LOCALIZATION.BUTTON_TAKE_LABEL}}</button>
        </div>
      </div>
      <div class="info" *ngIf="studentID === student.id">

        <app-student-info
          [studentInfo]="studentInfo"
          (deny)="studentID = -1"
          [isTaken]="true"
          [isShowName]="false"

        ></app-student-info>
      </div>
    </div>
  </div>
  <div></div>
</div>


<span *ngIf="isShowPopUp">
    <app-popup (accept)="onSubmit()" (deny)="isShowPopUp = false" [title]="POPUP_LOCALIZATION.ACCEPT_POPUP"></app-popup>
  </span>

<ng-container *ngIf="isShowErrorPopup">
  <error-message-popup (deny)="isShowErrorPopup = false; this.isShowPopUp = false;"></error-message-popup>
</ng-container>

