
<p class="title">{{HEADER}}</p>

<div class="error" *ngIf="error">{{error}}</div>

<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()" class="wrapper">


  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.EMAIL}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.EMAIL" [formControl]="myForm.controls.email" [tabIndex]="1"
               [rounded]="true"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.PASSWORD}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.PASSWORD" [type]="PLACEHOLDER_LOCALIZATION.TYPE_PASSWORD" [tabIndex]="2"
               [formControl]="myForm.controls.password"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.STUDENT_NAME}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.FIRST_NAME" [formControl]="myForm.controls.name" [tabIndex]="3"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.SURNAME}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.LAST_NAME" [formControl]="myForm.controls.surname" [tabIndex]="4"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.GENDER}}</p>
    <app-multi-select
      [collection]="genderCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myForm.controls.gender">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.DATE_OF_BIRTH}}</p>
    <app-date-picker [formControl]="myForm.controls.birthDate"></app-date-picker>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.PHONE_NUMBER}}</p>
    <app-input
      [tabIndex]="5"
      [placeholder]="PLACEHOLDER_LOCALIZATION.PHONE_NUMBER"
      [formControl]="myForm.controls.phone"
      [mask]="PLACEHOLDER_LOCALIZATION.PHONE_MASK"
      [maskPrefix]="PLACEHOLDER_LOCALIZATION.PHONE_PREFIX"
    ></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CITIZENSHIP}}</p>
    <app-multi-select
      [collection]="citizenshipCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="true"
      [formControl]="myForm.controls.citizenship"
    >
    </app-multi-select>
  </div>


  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CAMPUS}}</p>
    <app-multi-select
      [collection]="campusCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myForm.controls.campus">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.HSE_FACULTY}}</p>
    <app-multi-select
      [collection]="facultyCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="true"
      [formControl]="myForm.controls.localFaculty">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_1}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myForm.controls.tagName1"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_2}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myForm.controls.tagName2"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_3}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myForm.controls.tagName3"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.ABOUT}}</p>
    <app-textarea [placeholder]="PLACEHOLDER_LOCALIZATION.MORE_INFORMATION" [formControl]="myForm.controls.about"
                  [tabIndex]="6"></app-textarea>
  </div>

  <div class="btn-container">
    <div class="button1">
      <button class="btn btn-secondary" [routerLink]="['/sign-up2']">{{GLOBAL_LOCALIZATION.BUTTON_BACK_LABEL}}</button>
    </div>
    <div class="button2">

      <button class="btn btn-primary" *ngIf="!myForm.invalid">{{GLOBAL_LOCALIZATION.BUTTON_NEXT_LABEL}}</button>
      <button class="disabled" [disabled]="myForm.invalid" *ngIf="myForm.invalid">{{GLOBAL_LOCALIZATION.BUTTON_NEXT_LABEL}}</button>
    </div>
  </div>

</form>

