<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>


<ng-container *ngIf="!isLoading">

  <div class="main">
    <div class="profile-desc">
      <img *ngIf="gender === 'female'" src="assets/icons/avatar_female.svg" width="100">
      <img *ngIf="gender === 'male'" src="assets/icons/avatar-male.svg" width="100">
      <div class="profile-you">
        <div class="profile-name">{{name}}</div>
        <div class="profile-name">{{surname}}</div>
        <div class="profile-description">Buddy profile</div>
      </div>
    </div>
  </div>
  <div class="tags">
    <div *ngFor="let tag of tagList" class="main11">
      <p class="text11">{{tag.name}}</p>
    </div>
  </div>
  <div class="wrapper">

    <div class="row">
      <div class="column left">
        <h3 class="text2">Gender</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="gender"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Date of birth</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="birthDate"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Phone number</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled"
                   [mask]="phoneMask"
                   [maskPrefix]="phonePrefix"
                   [(ngModel)]="phone"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Email</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="email"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Citizenship</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="citizenship"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">Campus</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="campus"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">HSE Faculty</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="localFaculty"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">About me</h3>
      </div>
      <div class="column right">
        <app-textarea [disabled]="disabled" [(ngModel)]="about"></app-textarea>
      </div>
    </div>
  </div>
</ng-container>
