<div *ngIf="!buddyInfo">
    <app-loader></app-loader>
</div>


<ng-container *ngIf="buddyInfo">

    <div class="main">
        <div class="profile-desc">
            <img [src]="buddyInfo.gender.toLowerCase() === 'female'
              ? '../../../../assets/icons/avatar_female.svg'
              : '../../../../assets/icons/avatar-male.svg'"
                 width="100" alt="avatar" height="98">

            <div class="profile-you">
                <div class="profile-name">{{buddyInfo.name}}</div>
                <div class="profile-name">{{buddyInfo.surname}}</div>
                <div class="profile-description">{{TITLE}}</div>
            </div>
        </div>
    </div>

    <div class="tags">
        <div *ngFor="let tag of buddyInfo.tagList" class="main11">
            <p class="text11">{{tag.name}}</p>
        </div>
    </div>
    <div class="wrapper">

        <div class="row">
            <div class="column left">
                <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.GENDER}}</h3>
            </div>
            <div class="column right">
                <app-input [disabled]="disabled" [ngModel]="checkData.gender(buddyInfo.gender)"></app-input>
            </div>
        </div>

        <div class="row">
            <div class="column left">
                <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.DATE_OF_BIRTH}}</h3>
            </div>
            <div class="column right">
                <app-input [disabled]="disabled" [ngModel]="checkData.birthDate(buddyInfo.birthDate)"></app-input>
            </div>
        </div>

        <div class="row">
            <div class="column left">
                <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.PHONE_NUMBER}}</h3>
            </div>
            <div class="column right">
                <app-input [disabled]="disabled"
                           [mask]="PLACEHOLDER_LOCALIZATION.PHONE_MASK"
                           [maskPrefix]="PLACEHOLDER_LOCALIZATION.PHONE_PREFIX"
                           [(ngModel)]="buddyInfo.phone"></app-input>
            </div>
        </div>

        <div class="row">
            <div class="column left">
                <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.EMAIL}}</h3>
            </div>
            <div class="column right">
                <app-input [disabled]="disabled" [(ngModel)]="buddyInfo.email"></app-input>
            </div>
        </div>

        <div class="row">
            <div class="column left">
                <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.CITIZENSHIP}}</h3>
            </div>
            <div class="column right">
                <app-input [disabled]="disabled" [(ngModel)]="buddyInfo.citizenship"></app-input>
            </div>
        </div>

        <div class="row">
            <div class="column left">
                <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.CAMPUS}}</h3>
            </div>
            <div class="column right">
                <app-input [disabled]="disabled" [ngModel]="checkData.campus(buddyInfo.campus)"></app-input>
            </div>
        </div>

        <div class="row">
            <div class="column left">
                <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.HSE_FACULTY}}</h3>
            </div>
            <div class="column right">
                <app-input [disabled]="disabled" [(ngModel)]="buddyInfo.localFaculty"></app-input>
            </div>
        </div>

        <div class="row">
            <div class="column left">
                <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.ABOUT}}</h3>
            </div>
            <div class="column right">
                <app-textarea [disabled]="disabled" [(ngModel)]="buddyInfo.about"></app-textarea>
            </div>
        </div>
    </div>
</ng-container>
