@import "src/styles/variables";

.wrapper{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
.title{
  margin-top: 47px;
  font: $hse-font-family;
  margin-left: 196px;
  margin-bottom: 16px;
  font-weight:400;
  font-size: 56px;
  line-height: 64px;
}
.line{
  margin-bottom: 16px;
}
.text{
  font: $hse-font-family-alt;
  font-size: 16px;
  display: flex;
  text-align: center;
  margin-right: 48px;
  width: 172px;
  float: left;
}
.pages{
  margin-top: 28px;
  margin-left: 320px;
}
.button{
  margin-top: 16px;
  float: right;
}
.change{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.description{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
