<p class="title">Sign up</p>
<div class="wrapper">
  <div class="line">
    <p class="text">Email</p> <app-input [placeholder]="'Email'" [(ngModel)]="email"></app-input>
  </div>
  <div class="line">
    <p class="text">Password</p> <app-input [type]="typePassword" [(ngModel)]="password"></app-input>
  </div>
  <div class="line">
    <p class="text">Repeat the password</p> <app-input [type]="typePassword" [(ngModel)]="password"></app-input>
  </div>
  <div class="button"><button class="btn btn-primary" [routerLink]="['/sign-up2']">Next</button></div>
  <div class="change">
    <p class="description">Log in if you already have an account.</p>
    <button class="btn btn-primary" [routerLink]="['/']">Sign in</button>
  </div>
</div>
