@import "../../../styles/variables";

.main {
  position: fixed;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1005;
  margin: auto;

  width: 550px;
  height: 375px;
  background-color: $color-base-white;
  border: 1px solid $color-grey-morn-1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.wrapper {
  width: 460px;
  margin: 45px auto 0 45px;
  position: relative;

  .line {
    margin-bottom: 16px;
  }

  .error {
    position: absolute;
    bottom: 100px;
    right: 160px;
    font: $hse-font-family-alt;
    font-weight: 400;
    font-size: 14px;
    color: red;
    display: flex;
    justify-content: center;
  }

  .text {
    font-weight: 500;
    font: $hse-font-family-alt;
    font-size: 16px;
    display: flex;
    text-align: left;
    width: 160px;
    float: left;
  }

}

.title {
  margin-top: 32px;
  font: $hse-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}


.backdrop {
  position: fixed;
  z-index: 1005;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0.65);
}

.button1 {
  display: flex;
  float: left;
  margin-top: 16px;
  margin-bottom: 48px;
}

.button2 {
  display: flex;
  float: right;
  margin-top: 16px;
  margin-bottom: 48px;
}

.disabled {
  cursor: not-allowed;
  height: 40px;
  border-radius: 4px;
  font-family: $hse-font-family-alt-lt;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0 25px;
  box-shadow: none;
  background: #6b7a99;
  border: none;
  color: #fff;
}
