
<div class="backdrop" (click)="deny.emit()"></div>

<div class="main">

  <span class="title">Update password</span>


  <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit()" class="wrapper">

    <div class="line">
      <p class="text">{{OLD_PASSWORD}}</p>
      <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.PASSWORD"
                 [type]="PLACEHOLDER_LOCALIZATION.TYPE_PASSWORD"
                 [tabIndex]="1"
                 [formControl]="changePasswordForm.controls.oldPassword">
      </app-input>
    </div>

    <ng-container *ngIf="changePasswordForm.hasError('notSame', 'passwords')">
      <span class="error">
        Passwords must match
      </span>
    </ng-container>

    <div class="line">
      <p class="text">{{NEW_PASSWORD}}</p>
      <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.PASSWORD"
                 [type]="PLACEHOLDER_LOCALIZATION.TYPE_PASSWORD"
                 [tabIndex]="2"
                 [formControl]="changePasswordForm.controls.passwords.controls.password">

      </app-input>
    </div>

    <div class="line">
      <p class="text">{{CONFIRM_PASSWORD}}</p>
      <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.PASSWORD"
                 [type]="PLACEHOLDER_LOCALIZATION.TYPE_PASSWORD"
                 [tabIndex]="3"
                 [formControl]="changePasswordForm.controls.passwords.controls.confirmPass">

      </app-input>
    </div>

    <div class="btn-container">
      <div class="button1">
        <button class="btn btn-secondary" (click)="deny.emit()">{{GLOBAL_LOCALIZATION.BUTTON_BACK_LABEL}}</button>
      </div>
      <div class="button2">
        <button class="btn btn-primary" *ngIf="!changePasswordForm.invalid">{{GLOBAL_LOCALIZATION.BUTTON_NEXT_LABEL}}</button>
        <button class="disabled" [disabled]="changePasswordForm.invalid" *ngIf="changePasswordForm.invalid">{{GLOBAL_LOCALIZATION.BUTTON_NEXT_LABEL}}</button>
      </div>
    </div>

  </form>


</div>
