<ng-container *ngIf="!studentInfo">
  <app-loader></app-loader>
</ng-container>


<ng-container *ngIf="studentInfo">
  <div class="main">
    <div class="profile-desc">

      <img [src]="studentInfo.gender.toLowerCase() === 'female'
      ? '../../../../assets/icons/avatar_female.svg'
      : '../../../../assets/icons/avatar-male.svg'"
           width="100" alt="avatar" height="98">
      <div class="profile-you">
        <div class="profile-name">{{studentInfo.name}}</div>
        <div class="profile-name">{{studentInfo.surname}}</div>
        <div class="profile-description">{{TITLE}}</div>
      </div>
    </div>
  </div>

  <div class="tags">
    <div *ngFor="let tag of studentInfo.tagList" class="main11">
      <p class="text11">{{tag.name}}</p>
    </div>
  </div>

  <div class="wrapper">
    <p class="title">{{INFORMATION_TITLE}}</p>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.GENDER}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [ngModel]="checkData.gender(studentInfo.gender)"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.DATE_OF_BIRTH}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [ngModel]="checkData.birthDate(studentInfo.birthDate)"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.EMAIL}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.email"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.CITIZENSHIP}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.foreignStudent.homeCountry"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.CAMPUS}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [ngModel]="checkData.campus(studentInfo.campus)"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.HSE_FACULTY}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.localFaculty"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.HOME_UNIVERSITY}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.foreignStudent.homeUniversity"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.CATEGORY}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled"
                   [ngModel]="checkData.localGroup(studentInfo.foreignStudent.localGroup)"></app-input>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.ABOUT}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.about"></app-input>
      </div>
    </div>


    <p class="title">{{ARRIVAL_TITLE}}</p>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_DATE}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled"
                   [ngModel]="checkData.arrivalDate(studentInfo.foreignStudent.arrivalDateTime)"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_TIME}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled"
                   [ngModel]="checkData.arrivalTime(studentInfo.foreignStudent.arrivalDateTime)"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_PLACE}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.foreignStudent.arrivalPlace"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.PLACE_OF_RESIDENCE}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [ngModel]="checkData.placeOfResidence(studentInfo.foreignStudent.residencePlace)"></app-input>
      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h3 class="text2">{{PLACEHOLDER_LOCALIZATION.ADDRESS}}</h3>
      </div>
      <div class="column right">
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.foreignStudent.address"></app-input>
      </div>
    </div>
  </div>

</ng-container>
