@import "../../../styles/variables";

.main {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1005;
  width: 600px;
  height: 448px;
  background-color: $color-base-white;
  border: 1px solid $color-grey-morn-1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 32px;
  font: $hse-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.text{
  font: $hse-font-family;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.backdrop {
  position: fixed;
  z-index: 1005;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0.65);
}
