@import "../../../../styles/variables";

.title {
  margin-top: 47px;
  font: $hse-font-family;
  margin-left: 107px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
}
