<p class="title">{{HEADER}}</p>

<ng-container *ngIf="!studentInfo">
  <app-loader></app-loader>
</ng-container>


<div class="wrapper" *ngIf="studentInfo">
  <div class="arrival">

    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_DATE}}</p> <app-date-picker [(ngModel)]="arrivalDate"></app-date-picker>
    </div>

    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_TIME}}</p>
      <app-input
        [placeholder]="PLACEHOLDER_LOCALIZATION.TIME_MASK"
        [(ngModel)]="arrivalTime"
        [mask]="PLACEHOLDER_LOCALIZATION.TIME_MASK"
      ></app-input>
    </div>

    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_PLACE}}</p> <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.ARRIVAL_PLACE" [(ngModel)]="studentInfo.arrivalPlace"></app-input>
    </div>


    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.PLACE_OF_RESIDENCE}}</p>
      <app-multi-select
        [collection]="residenceCollection"
        [placeholder]="residencePlace"
        [isMulti]="false"
        [showSearchInput]="false"
        [(ngModel)]="residencePlace">
      </app-multi-select>
    </div>
    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.ADDRESS}}</p> <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.ADDRESS" [(ngModel)]="studentInfo.address"></app-input>
    </div>
  </div>

  <div class="btn-container">
    <div class="button2"><button class="btn btn-primary" (click)="isShowPopUp = true">{{GLOBAL_LOCALIZATION.BUTTON_UPDATE_LABEL}}</button></div>
  </div>
</div>

<span *ngIf="isShowPopUp"><app-popup (deny)="isShowPopUp = false" (accept)="onSubmit()" [title]="TITLE"></app-popup></span>

<ng-container *ngIf="isShowErrorPopup">
  <error-message-popup (deny)="isShowErrorPopup = false; this.isShowPopUp = false;"></error-message-popup>
</ng-container>
