<div class="table-container">


	<table class="table" >
		<thead>
		<tr>
			<th *ngIf="isEdit"></th>
			<th>N</th>
			<th>Full name</th>
			<th *ngIf="isEmail">Email</th>
			<th>Faculty</th>
			<th>Citizenship</th>
			<th>Number of is</th>
			<th>Student</th>
		</tr>
		</thead>
		<tbody *ngFor="let d of data; let i = index">
		<tr *ngIf="d.archived === isArchive">
			<td *ngIf="isEdit"><input type="checkbox" [checked]="index === i" (change)="setIdHandler(i, d.id)"></td>
			<td>{{d.id}}</td>
			<td><span class="buddyName" (click)=getBuddyNameHandler(d.id)>{{d.name}} {{d.surname}}</span></td>
			<td *ngIf="isEmail">{{d.email}}</td>
			<td><span style="max-width: 400px; white-space: pre-wrap; word-wrap: break-word;">{{d.localFaculty}}</span></td>
			<td>{{d.citizenship || '-'}}</td>
			<td *ngIf="d.foreignStudent">{{d.foreignStudent.length}}</td>
      <td *ngIf="!d.foreignStudent">0</td>
			<td>
					<span class="buddyName" (click)=getStudentNameHandler(student.id)
								*ngFor="let student of d.foreignStudent">{{student.name}} {{student.surname}}</span>
				<span class="buddyName" (click)="isAddBuddy ? setBuddyId(d.id) : setStudentId(d.id)">+</span>
			</td>
		</tr>
		</tbody>

	</table>
	<div *ngIf="isShowBuddyInfo">
    <app-buddy-info
      [name]="BuddyName"
      [surname]="BuddySurname"
      [gender]="BuddyGender"
      [birthDate]="BuddyBirthDate"
      [email]="BuddyEmail"
      [phone]="BuddyPhone"
      [citizenship]="BuddyCitizenship"
      [campus]="BuddyCampus"
      [HSEFaculty]="BuddyHSEFaculty"
      [about]="BuddyAbout"
      [tagList]="BuddyTagList"
      [isAssign]="false"
      (clicked)="isShowBuddyInfo=false"

    ></app-buddy-info>
	</div>
	<div *ngIf="isShowStudentInfo">
		<app-student-info
      [gender]="this.StudentGender"
      [birthDate]="this.StudentBirthDate"
      [citizenship]="this.StudentCitizenship"
      [localFaculty]="this.StudentLocalFaculty"
      [homeUniversity]="this.StudentHomeUniversity"
      [about]="this.StudentAbout"
      [tagList]="this.StudentTagList"
      [name]="StudentName + StudentSurName"
      [email]="this.StudentEmail"
      [category]="this.StudentLocalGroup"
      [arrivalDate]="this.StudentArrivalDate"
      [arrivalTime]="this.StudentArrivalTime"
      [arrivalPlace]="this.StudentArrivalPlace"
      [place]="this.StudentResidencePlace"
      [address]="this.StudentAddress"

      [isTaken]="true"
      [isAssign]="false"
      (clicked)="isShowStudentInfo=false">

    </app-student-info>
	</div>
</div>

<div *ngIf="showTable" class="backdrop" (click)="showTable=false"></div>


<div *ngIf="showTable" class="main">
	<div class="title">Assign student</div>

	<div class="showTable">
		<app-student-table (studentId)="addStudent($event)" [isAddStudent]="true" [isEmail]="false"
											 [isArchive]="false"></app-student-table>
	</div>

	<button class="btn btn-secondary btn-close" (click)="showTable=false">Close</button>
</div>

<span *ngIf="isShowMessage"><app-popup (deny)="isShowMessage = false" (accept)="buddyIdHandler()" [title]="title"></app-popup></span>

