<p class="title">Personal information</p>
<div class="error" *ngIf="error">{{error}}</div>

<form [formGroup]="myStudentForm" novalidate (ngSubmit)="onSubmit()" class="wrapper">


  <div class="line">
    <p class="text">Email</p>
    <app-input [placeholder]="'Email'" [formControl]="myStudentForm.controls.email" [tabIndex]="1"
               [rounded]="true"></app-input>
  </div>

  <div class="line">
    <p class="text">Password</p>
    <app-input [placeholder]="'Password'" [type]="typePassword" [tabIndex]="2"
               [formControl]="myStudentForm.controls.password"></app-input>
  </div>

  <div class="line">
    <p class="text">Given name</p>
    <app-input [placeholder]="'First name'" [formControl]="myStudentForm.controls.name" [tabIndex]="3"></app-input>
  </div>

  <div class="line">
    <p class="text">Surname</p>
    <app-input [placeholder]="'Last name'" [formControl]="myStudentForm.controls.surname" [tabIndex]="4"></app-input>
  </div>

  <div class="line">
    <p class="text">Gender</p>
    <app-multi-select
      [collection]="genderCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.gender">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">Date of birth</p>
    <app-date-picker [formControl]="myStudentForm.controls.birthDate"></app-date-picker>
  </div>

  <div class="line">
    <p class="text">Phone number</p>
    <app-input
      [tabIndex]="5"
      [placeholder]="'Phone number'"
      [formControl]="myStudentForm.controls.phone"
      [mask]="phoneMask"
      [maskPrefix]="phonePrefix"
    ></app-input>
  </div>

  <div class="line">
    <p class="text">Citizenship</p>
    <app-multi-select
      [collection]="citizenshipCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="true"
      [formControl]="myStudentForm.controls.citizenship"
    >
    </app-multi-select>
  </div>


  <div class="line">
    <p class="text">Campus</p>
    <app-multi-select
      [collection]="campusCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.campus">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">HSE Faculty</p>
    <app-multi-select
      [collection]="facultyCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="true"
      [formControl]="myStudentForm.controls.localFaculty">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">Home university</p>
    <app-input [placeholder]="'Home university'" [formControl]="myStudentForm.controls.homeUniversity"
               [tabIndex]="6"></app-input>
  </div>

  <div class="line">
    <p class="text">Category of student</p>
    <app-multi-select
      [collection]="localGroupCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="true"
      [formControl]="myStudentForm.controls.localGroup">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">Interest №1</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.tagName1"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">Interest №2</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.tagName2"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">Interest №3</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.tagName3"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">About me</p>
    <app-textarea [placeholder]="'Information about me'" [formControl]="myStudentForm.controls.about"
                  [tabIndex]="7"></app-textarea>
  </div>


  <p class="title2">Arrival & residence</p>
  <div class="wrapper">

    <div class="line">
      <p class="text">Arrival date</p>
      <app-date-picker [formControl]="myStudentForm.controls.arrivalDate"></app-date-picker>
    </div>

    <div class="line">
      <p class="text">Arrival time</p>
      <app-input
        [placeholder]="'00:00'"
        [formControl]="myStudentForm.controls.arrivalTime"
        [mask]="timeMask"
      ></app-input>
    </div>

    <div class="line">
      <p class="text">Arrival place</p>
      <app-input [placeholder]="'Arrival place'" [formControl]="myStudentForm.controls.arrivalPlace"></app-input>
    </div>

    <div class="line">
      <p class="text">Place of residence</p>
      <app-multi-select
        [collection]="residenceCollection"
        [placeholder]=""
        [isMulti]="false"
        [showSearchInput]="false"
        [formControl]="myStudentForm.controls.placeOfResidence">
      </app-multi-select>
    </div>

    <div class="line">
      <p class="text">Address</p>
      <app-textarea [placeholder]="'Address'" [formControl]="myStudentForm.controls.address"></app-textarea>
    </div>

  </div>
  <div class="btn-container">
    <div class="button1">
      <button class="btn btn-secondary" [routerLink]="['/sign-up2']">Back</button>
    </div>
    <div class="button2">
      <button class="btn btn-primary" *ngIf="!myStudentForm.invalid">Next</button>
      <button class="disabled" [disabled]="myStudentForm.invalid" *ngIf="myStudentForm.invalid">Next</button>
    </div>
  </div>


</form>






