<p class="title">{{HEADER}}</p>
<div class="error" *ngIf="error">{{error}}</div>

<form [formGroup]="myStudentForm" novalidate (ngSubmit)="onSubmit()" class="wrapper">


  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.EMAIL}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.EMAIL" [formControl]="myStudentForm.controls.email" [tabIndex]="1"
               [rounded]="true"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.PASSWORD}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.PASSWORD" [type]="PLACEHOLDER_LOCALIZATION.TYPE_PASSWORD" [tabIndex]="2"
               [formControl]="myStudentForm.controls.password"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.STUDENT_NAME}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.FIRST_NAME" [formControl]="myStudentForm.controls.name" [tabIndex]="3"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.SURNAME}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.LAST_NAME" [formControl]="myStudentForm.controls.surname" [tabIndex]="4"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.GENDER}}</p>
    <app-multi-select
      [collection]="genderCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.gender">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.DATE_OF_BIRTH}}</p>
    <app-date-picker [formControl]="myStudentForm.controls.birthDate"></app-date-picker>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.PHONE_NUMBER}}</p>
    <app-input
      [tabIndex]="5"
      [placeholder]="PLACEHOLDER_LOCALIZATION.PHONE_NUMBER"
      [formControl]="myStudentForm.controls.phone"
      [mask]="PLACEHOLDER_LOCALIZATION.PHONE_MASK"
      [maskPrefix]="PLACEHOLDER_LOCALIZATION.PHONE_PREFIX"
    ></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CITIZENSHIP}}</p>
    <app-multi-select
      [collection]="citizenshipCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="true"
      [formControl]="myStudentForm.controls.citizenship"
    >
    </app-multi-select>
  </div>


  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CAMPUS}}</p>
    <app-multi-select
      [collection]="campusCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.campus">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.HSE_FACULTY}}</p>
    <app-multi-select
      [collection]="facultyCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="true"
      [formControl]="myStudentForm.controls.localFaculty">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.HOME_UNIVERSITY}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.HOME_UNIVERSITY" [formControl]="myStudentForm.controls.homeUniversity"
               [tabIndex]="6"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CATEGORY}}</p>
    <app-multi-select
      [collection]="localGroupCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="true"
      [formControl]="myStudentForm.controls.localGroup">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_1}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.tagName1"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_2}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.tagName2"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_3}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]=""
      [isMulti]="false"
      [showSearchInput]="false"
      [formControl]="myStudentForm.controls.tagName3"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.ABOUT}}</p>
    <app-textarea [placeholder]="PLACEHOLDER_LOCALIZATION.MORE_INFORMATION" [formControl]="myStudentForm.controls.about"
                  [tabIndex]="7"></app-textarea>
  </div>


  <p class="title2">{{HEADER_2}}</p>
  <div class="wrapper">

    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_DATE}}</p>
      <app-date-picker [formControl]="myStudentForm.controls.arrivalDate"></app-date-picker>
    </div>

    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_TIME}}</p>
      <app-input
        [placeholder]="PLACEHOLDER_LOCALIZATION.TIME_MASK"
        [formControl]="myStudentForm.controls.arrivalTime"
        [mask]="PLACEHOLDER_LOCALIZATION.TIME_MASK"
      ></app-input>
    </div>

    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_PLACE}}</p>
      <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.ARRIVAL_PLACE" [formControl]="myStudentForm.controls.arrivalPlace"></app-input>
    </div>

    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.PLACE_OF_RESIDENCE}}</p>
      <app-multi-select
        [collection]="residenceCollection"
        [placeholder]=""
        [isMulti]="false"
        [showSearchInput]="false"
        [formControl]="myStudentForm.controls.placeOfResidence">
      </app-multi-select>
    </div>

    <div class="line">
      <p class="text">{{PLACEHOLDER_LOCALIZATION.ADDRESS}}</p>
      <app-textarea [placeholder]="PLACEHOLDER_LOCALIZATION.ADDRESS" [formControl]="myStudentForm.controls.address"></app-textarea>
    </div>

  </div>
  <div class="btn-container">
    <div class="button1">
      <button class="btn btn-secondary" [routerLink]="['/sign-up2']">{{GLOBAL_LOCALIZATION.BUTTON_BACK_LABEL}}</button>
    </div>
    <div class="button2">
      <button class="btn btn-primary" *ngIf="!myStudentForm.invalid">{{GLOBAL_LOCALIZATION.BUTTON_NEXT_LABEL}}</button>
      <button class="disabled" [disabled]="myStudentForm.invalid" *ngIf="myStudentForm.invalid">{{GLOBAL_LOCALIZATION.BUTTON_NEXT_LABEL}}</button>
    </div>
  </div>


</form>






