<p class="title">{{HEADER}}</p>

<ng-container *ngIf="!buddyInfo">
  <app-loader></app-loader>
</ng-container>

<div class="wrapper" *ngIf="buddyInfo">
  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.STUDENT_NAME}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.FIRST_NAME" [(ngModel)]=buddyInfo.name></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.SURNAME}}</p>
    <app-input [placeholder]="PLACEHOLDER_LOCALIZATION.LAST_NAME" [(ngModel)]="buddyInfo.surname"></app-input>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.GENDER}}</p>
    <app-multi-select
      [collection]="genderCollection"
      [placeholder]="gender"
      [isMulti]="false"
      [showSearchInput]="false"
      [(ngModel)]="gender">
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.DATE_OF_BIRTH}}</p>
    <app-date-picker [(ngModel)]="buddyInfo.birthDate"></app-date-picker>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.PHONE_NUMBER}}</p>
    <app-input
      [placeholder]="PLACEHOLDER_LOCALIZATION.PHONE_NUMBER"
      [(ngModel)]="buddyInfo.phone"
      [mask]="PLACEHOLDER_LOCALIZATION.PHONE_MASK"
      [maskPrefix]="PLACEHOLDER_LOCALIZATION.PHONE_PREFIX"
    ></app-input>
  </div>


  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CITIZENSHIP}}</p>
    <app-multi-select
      [collection]="citizenshipCollection"
      [placeholder]="buddyInfo.citizenship"
      [isMulti]="false"
      [showSearchInput]="true"
      [(ngModel)]="buddyInfo.citizenship"
    >
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.CAMPUS}}</p>
    <app-multi-select
      [collection]="campusCollection"
      [placeholder]="campus"
      [isMulti]="false"
      [showSearchInput]="true"
      [(ngModel)]="campus"
    >
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.HSE_FACULTY}}</p>
    <app-multi-select
      [collection]="facultyCollection"
      [placeholder]="PLACEHOLDER_LOCALIZATION.FACULTY"
      [isMulti]="false"
      [showSearchInput]="true"
      [(ngModel)]="buddyInfo.localFaculty"
    >
    </app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_1}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [isMulti]="false"
      [placeholder]="tagName1"
      [showSearchInput]="true"
      [(ngModel)]="tagName1"
    ></app-multi-select>
  </div>
  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_2}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]="tagName2"
      [isMulti]="false"
      [showSearchInput]="true"
      [(ngModel)]="tagName2"
    ></app-multi-select>
  </div>
  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.INTEREST_3}}</p>
    <app-multi-select
      [collection]="tagCollection"
      [placeholder]="tagName3"
      [isMulti]="false"
      [showSearchInput]="true"
      [(ngModel)]="tagName3"
    ></app-multi-select>
  </div>

  <div class="line">
    <p class="text">{{PLACEHOLDER_LOCALIZATION.ABOUT}}</p>
    <app-textarea [placeholder]="PLACEHOLDER_LOCALIZATION.MORE_INFORMATION"  [(ngModel)]="buddyInfo.about"></app-textarea>
  </div>

  <div class="btn-container">
    <div class="button2">
      <button class="btn btn-primary" (click)="isShowPopUp = true" >
        {{GLOBAL_LOCALIZATION.BUTTON_UPDATE_LABEL}}
      </button>
    </div>
  </div>
</div>

<span *ngIf="isShowPopUp"><app-popup (deny)="isShowPopUp = false" (accept)="onSubmit()"
                                     [title]="POPUP_LOCALIZATION.UPDATE_POPUP"></app-popup></span>

<ng-container *ngIf="isShowErrorPopup">
  <error-message-popup (deny)="isShowErrorPopup = false; this.isShowPopUp = false;"></error-message-popup>
</ng-container>
