<div class="backdrop" (click)="deny.emit()"></div>
<div class="main" *ngIf="studentInfo">

  <div class="pages">
    <div class="icon">
      <app-icon name="arrow-keyboard-right" (click)="addPositionHandler()"></app-icon>
    </div>
    <div class="icon">
      <app-icon name="arrow-keyboard-left" (click)="subtractPositionHandler()"></app-icon>
    </div>
    <p class="page-n">0{{position}}/02</p>
  </div>


  <div *ngIf="isShowName" class="title-name">{{studentInfo.name}} {{studentInfo.surname}}</div>
  <div class="all-tags">
    <div class="tag" *ngFor="let tag of studentInfo.tagList"><p class="tag-text">{{tag.name}}</p></div>
  </div>

  <div class="all-lines">
    <div *ngIf="position === 1">
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.GENDER}}</p>
        <app-input [disabled]="disabled" [ngModel]="checkData.gender(studentInfo.gender)"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.DATE_OF_BIRTH}}</p>
        <app-input [disabled]="disabled" [ngModel]="checkData.birthDate(studentInfo.birthDate)"></app-input>
      </div>
      <ng-container *ngIf="isShowName">
        <div class="line">
          <p class="text">{{PLACEHOLDER_LOCALIZATION.EMAIL}}</p>
          <app-input [disabled]="disabled" [(ngModel)]="studentInfo.email"></app-input>
        </div>
      </ng-container>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.CITIZENSHIP}}</p>
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.citizenship"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.CAMPUS}}</p>
        <app-input [disabled]="disabled" [ngModel]="checkData.campus(studentInfo.campus)"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.HSE_FACULTY}}</p>
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.localFaculty"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.HOME_UNIVERSITY}}</p>
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.foreignStudent.homeUniversity"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.CATEGORY}}</p>
        <app-input [disabled]="disabled"
                   [ngModel]="checkData.localGroup(studentInfo.foreignStudent.localGroup)"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.ABOUT}}</p>
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.about"></app-input>
      </div>
    </div>

    <div *ngIf="position === 2">
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_DATE}}</p>
        <app-input [disabled]="disabled"
                   [ngModel]="checkData.arrivalDate(studentInfo.foreignStudent.arrivalDateTime)"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_TIME}}</p>
        <app-input [disabled]="disabled"
                   [ngModel]="checkData.arrivalTime(studentInfo.foreignStudent.arrivalDateTime)"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.ARRIVAL_PLACE}}</p>
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.foreignStudent.arrivalPlace"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.PLACE_OF_RESIDENCE}}</p>
        <app-input [disabled]="disabled"
                   [ngModel]="checkData.placeOfResidence(studentInfo.foreignStudent.residencePlace)"></app-input>
      </div>
      <div class="line">
        <p class="text">{{PLACEHOLDER_LOCALIZATION.ADDRESS}}</p>
        <app-input [disabled]="disabled" [(ngModel)]="studentInfo.foreignStudent.address"></app-input>
      </div>
    </div>


  </div>
  <button class="btn btn-secondary btn-close" (click)=deny.emit()>{{GLOBAL_LOCALIZATION.BUTTON_CLOSE_LABEL}}</button>
  <button *ngIf="isAssign" class="btn btn-primary btn-assign"
          (click)="assign.emit(studentInfo.id)">{{GLOBAL_LOCALIZATION.BUTTON_ASSIGN_LABEL}}</button>
  <button *ngIf="isTaken" class="btn btn-primary btn-assign"
          (click)="isShowPopUp = true">{{GLOBAL_LOCALIZATION.BUTTON_TAKE_LABEL}}</button>

</div>
<span *ngIf="isShowPopUp">
    <app-popup (accept)="onSubmit()" (deny)="isShowPopUp = false" [title]="TITLE"></app-popup>
  </span>

