<p class="subtitle">Action log</p>

<div class="wrapper">
<!--  <app-multi-select placeholder="Enter the value" style="width: 620px"></app-multi-select>-->
  <app-input placeholder="Enter the value" style="width: 620px" [disabled]="true"></app-input>
  <button style="margin-left:  15px" class="btn btn-primary" (click)="exportElmToExcel()">{{GLOBAL_LOCALIZATION.BUTTON_EXPORT_LABEL}}</button>
</div>


<div class="table-container">
  <table class="table" #actionLogTable>
    <thead>
    <tr>
      <th>Date</th>
      <th>Type of action</th>
      <th style="width: 40%;">Participants</th>
    </tr>
    </thead>
    <tbody *ngFor="let actionLog of actionLogs; let i = index">
    <tr>
      <td>{{actionLog.eventDateTime}}</td>
      <td>{{actionLog.eventType}}</td>
      <td class="participants">
				<span *ngIf="actionLog.participants[0]" class="buddyName" (click)="actionLog.participants[0].role.toUpperCase() === 'ROLE_FOREIGN_STUDENT'
				? isShowStudentInfoHandler(actionLog.participants[0].id)
				: isShowBuddyInfoHandler(actionLog.participants[0].id)">
          {{actionLog.participants[0].name}} {{actionLog.participants[0].surname}}</span>
        &nbsp; &nbsp;
        <span *ngIf="actionLog.participants[1]" class="buddyName" (click)="actionLog.participants[1].role.toUpperCase() === 'ROLE_FOREIGN_STUDENT'
				 ? isShowStudentInfoHandler(actionLog.participants[1].id)
				 : isShowBuddyInfoHandler(actionLog.participants[1].id)">
          {{actionLog.participants[1].name}} {{actionLog.participants[1].surname}}</span>
      </td>
    </tr>
    </tbody>

  </table>
  <div *ngIf="isShowBuddyInfo">
    <app-buddy-info
      [buddyInfo]="buddyInfo"
      [isAssign]="false"
      (deny)="isShowBuddyInfo=false"
    ></app-buddy-info>
  </div>

  <div *ngIf="isShowStudentInfo">
    <app-student-info
      [studentInfo]="studentInfo"
      (deny)="isShowStudentInfo=false">

    </app-student-info>
  </div>
</div>
