<p class="title">{{STUDENT_DASHBOARD_LOCALIZATION.HEADER}}</p>

<ng-container *ngIf="!status">
  <app-loader></app-loader>
</ng-container>

<div class="tags">
  <div *ngIf="status === 'searching'" class="main">
    <div class="icon">
      <app-icon name="clock"></app-icon>
    </div>
    <div class="text02">{{STUDENT_DASHBOARD_LOCALIZATION.SEARCHING_TITLE}}</div>
    <div class="button">
      <button class="btn btn-secondary" (click)="onSubmit2()">{{STUDENT_DASHBOARD_LOCALIZATION.SEARCHING_BUTTON_LABEL}}</button>
    </div>
  </div>
</div>

<div *ngIf="status === 'not_matched'" class="main">
  <div class="icon">
    <app-icon name="clock"></app-icon>
  </div>
  <div class="text02">{{STUDENT_DASHBOARD_LOCALIZATION.NOT_MATCHED_TITLE}}</div>
  <div class="text02">{{STUDENT_DASHBOARD_LOCALIZATION.NOT_MATCHED_TEXT}}</div>

  <div class="button">
    <button class="btn btn-primary" (click)="onStudentInfo()">{{STUDENT_DASHBOARD_LOCALIZATION.NOT_MATCHED_BUTTON_LABEL}}</button>
  </div>

</div>

<div *ngIf="status === 'matched'" class="main">
  <div class="icon">
    <app-icon name="check"></app-icon>
  </div>
  <div class="text02">{{STUDENT_DASHBOARD_LOCALIZATION.MATCHED_BUDDY_NAME}} {{nameBuddy}} </div>
  <div class="text02">{{STUDENT_DASHBOARD_LOCALIZATION.MATCHED_BUDDY_EMAIL}} {{emailBuddy}}</div>
  <div class="button">
    <button class="btn btn-secondary" (click)="isShowDeleteMessage = true">{{STUDENT_DASHBOARD_LOCALIZATION.MATCHED_DELETE_MATCH_BUTTON_LABEL}}</button>
    <button class="btn btn-primary" style="margin-left: 10px" (click)="onInfoBuddy()">
      {{STUDENT_DASHBOARD_LOCALIZATION.MATCHED_BUDDY_PROFILE_BUTTON_LABEL}}</button>
  </div>

  <div class="info" *ngIf="isInfoBuddy">

    <app-buddy-info
      [buddyInfo]="buddyInfo"
      (deny)="isInfoBuddy = false"
    ></app-buddy-info>
  </div>
</div>



<div *ngIf="status === 'met'" class="main">
  <div class="icon">
    <app-icon name="check"></app-icon>
  </div>
  <div class="text02">{{STUDENT_DASHBOARD_LOCALIZATION.MET_TITLE}}</div>
  <div class="text02">{{STUDENT_DASHBOARD_LOCALIZATION.MET_TEXT}}</div>
</div>


<div *ngIf="status === 'met'" class="leaveReview">
  <div class="block" (click)="isShow = true">
    <div class="subtitle">{{STUDENT_DASHBOARD_LOCALIZATION.MET_LEAVE_REVIEW_TITLE}}</div>
    <p>{{STUDENT_DASHBOARD_LOCALIZATION.MET_LEAVE_REVIEW_TEXT}}</p>
  </div>


  <div *ngIf="isShow">
    <div class="backdrop" (click)="isShow = false"></div>

    <div class="leaveReviewMain">

      <div class="leaveReviewTitle">{{STUDENT_DASHBOARD_LOCALIZATION.MET_LEAVE_REVIEW_TITLE}}</div>
      <div class="leaveReviewText">{{STUDENT_DASHBOARD_LOCALIZATION.LEAVE_REVIEW_TEXT}}</div>

      <div class="leaveReviewStars">
        <div style="cursor: pointer"  *ngFor="let _ of [].constructor(numberOfStars), let i = index" (click)="numberOfStars=i+1">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M32 11.584L20.496 10.592L16 0L11.504 10.608L0 11.584L8.736 19.152L6.112 30.4L16 24.432L25.888 30.4L23.28 19.152L32 11.584Z"
                  fill="#ff8000"/>
          </svg>
        </div>


        <div class="stars" *ngFor="let _ of [].constructor(5 - numberOfStars), let i = index" (click)="numberOfStars=i+1+numberOfStars">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M32 11.584L20.496 10.592L16 0L11.504 10.608L0 11.584L8.736 19.152L6.112 30.4L16 24.432L25.888 30.4L23.28 19.152L32 11.584Z"
                  fill="#ffc796"/>
          </svg>
        </div>
      </div>

      <div class="leaveReviewInput">
        <app-textarea [disabled]="false"
                      [width]=450 [resize]="150"
                      [(ngModel)]="reviewText"
                      [placeholder]="STUDENT_DASHBOARD_LOCALIZATION.LEAVE_REVIEW_PLACEHOLDER">
        </app-textarea>

      </div>

      <div style="margin-top: 32px">
        <button  class="btn btn-secondary btn-close" (click)="isShow = false">{{GLOBAL_LOCALIZATION.BUTTON_CLOSE_LABEL}}</button>
        <button style="margin-left: 23px" class="btn btn-primary btn-close" (click)="isAcceptMessage=true">{{GLOBAL_LOCALIZATION.BUTTON_SEND_LABEL}}</button>
      </div>

    </div>

  </div>
</div>

<div *ngIf="isShowDeleteMessage">

  <div class="backdrop" (click)="isShowDeleteMessage = false"></div>

  <div class="messageMain">

    <div class="messageTitle">{{EMAIL_LOCALIZATION.EMAIL_WRITE_TITLE}}</div>
    <div class="messageText">{{EMAIL_LOCALIZATION.DELETE_PAIR_TEXT}}</div>

    <app-input [ngModel]="EMAIL_LOCALIZATION.EMAIL" [disabled]="true"></app-input>

    <div style="margin-top: 32px">
      <button class="btn btn-primary btn-assign" (click)="isShowDeleteMessage = false">{{GLOBAL_LOCALIZATION.BUTTON_OK_LABEL}}</button>
    </div>

  </div>


</div>

<ng-container *ngIf="isAcceptMessage">
  <div class="backdrop" (click)="isAcceptMessage = false"></div>
  <app-popup (deny)="isAcceptMessage = false" (accept)="onAcceptReview()" [title]="POPUP_LOCALIZATION.LEAVE_REVIEW"></app-popup>
</ng-container>

<ng-container *ngIf="isShowStudentInfo">
  <div class="backdrop" (click)="isShowStudentInfo = false"></div>
  <app-student-info
    [studentInfo]="studentInfo"
    [isAssign]="true"
    (assign)="onSubmit1()"
    (deny)="isShowStudentInfo=false">

  </app-student-info>

</ng-container>

<ng-container *ngIf="isShowErrorPopup">
  <error-message-popup (deny)="isShowErrorPopup = false; this.isAcceptMessage = false;"></error-message-popup>
</ng-container>
