<p class="title">{{HEADER}}</p>

<div *ngIf="!students">
  <app-loader></app-loader>
</div>

<div *ngIf="students">

  <ng-container *ngIf="students.length === 0">
    <div class="error-title">{{PLACEHOLDER_LOCALIZATION.NO_STUDENTS_MESSAGE}}</div>
  </ng-container>

  <div class="wrapper">
    <div class="column" *ngFor="let student of students; let i = index">
      <div class="card" (click)="onInfoStudent(student)">
        <div class="one-line">
          <div class="icon">
            <app-icon name="person"></app-icon>
          </div>
          <div class="card-date">{{date[i].toLocaleString("ru-RU")}}</div>
        </div>
        <div class="card-faculty"> {{PLACEHOLDER_LOCALIZATION.FACULTY}}: {{student.localFaculty}}</div>
        <div class="card-text">{{PLACEHOLDER_LOCALIZATION.COUNTRY}}: {{student.foreignStudent.homeCountry}}</div>
        <div class="card-btn-container">
          <button class="btn btn-secondary"
                  (click)="onInfoStudent(student)">
            {{GLOBAL_LOCALIZATION.BUTTON_INFO_LABEL}}
          </button>
          <button class="btn btn-primary" (click)="addStudentId(student.id)">{{GLOBAL_LOCALIZATION.BUTTON_ASSIGN_LABEL}}</button>
        </div>
      </div>
      <div class="info" *ngIf="studentID === student.id">

        <app-student-info
          [studentInfo]="studentInfo"
          (deny)="studentID = -1"
          (assign)="addStudentId($event)"
          [isAssign]="true"
        ></app-student-info>

      </div>
    </div>
  </div>
</div>


<div *ngIf="isShowTable" class="backdrop" (click)="isShowTable=false"></div>

<div *ngIf="isShowTable" class="main">
	<div class="tableTitle">{{ASSIGN_BUDDY}}</div>
	<div class="showTable">
		<app-buddy-table (BuddyId)="addBuddyId($event)" [isAddBuddy]="true" [isEmail]="false"
											 [isArchive]="false"></app-buddy-table>
	</div>
	<button class="btn btn-secondary btn-close" (click)="isShowTable=false">{{GLOBAL_LOCALIZATION.BUTTON_CLOSE_LABEL}}</button>
</div>

<ng-container *ngIf="isShowErrorPopup">
  <error-message-popup (deny)="isShowErrorPopup = false"></error-message-popup>
</ng-container>


