<p class="title">Dashboard</p>

<div>
  <div class="wrapper">
    <div class="column" *ngFor="let student of students; let i = index">
      <div class="card">
        <div class="one-line">
          <div class="icon">
            <app-icon name="person"></app-icon>
          </div>
          <div class="card-date">{{date[i].toLocaleString("ru-RU")}}</div>
        </div>
        <div class="card-faculty"> Faculty: {{student.localFaculty}}</div>
        <div class="card-text">Country: {{student.foreignStudent.homeCountry}}</div>
        <div class="card-btn-container">
          <button class="btn btn-secondary"
                  (click)="onInfoStudent(student)">
            info
          </button>
          <button class="btn btn-primary" (click)="addStudentId(student.id)">Assign</button>
        </div>
      </div>
      <div class="info" *ngIf="id === student.id">

        <app-student-info
          [studentInfo]="studentInfo"
          (deny)="id = -1"
          (assign)="addStudentId($event)"
          [isAssign]="true"
        ></app-student-info>

      </div>
    </div>
  </div>
</div>











<div *ngIf="isShowTable" class="backdrop" (click)="isShowTable=false"></div>

<div *ngIf="isShowTable" class="main">
	<div class="tableTitle">Assign buddy</div>
	<div class="showTable">
		<app-buddy-table (BuddyId)="addBuddyId($event)" [isAddBuddy]="true" [isEmail]="false"
											 [isArchive]="false"></app-buddy-table>
	</div>
	<button class="btn btn-secondary btn-close" (click)="isShowTable=false">Close</button>
</div>



