<div class="table-container">


	<table class="table" >
		<thead>
		<tr>
			<th *ngIf="isEdit"></th>
			<th>N</th>
			<th>Full name</th>
			<th *ngIf="isEmail">Email</th>
			<th>Faculty</th>
			<th>Citizenship</th>
			<th>Number of is</th>
			<th>Student</th>
		</tr>
		</thead>
		<tbody *ngFor="let item of data; let i = index">
		<tr *ngIf="item.archived === isArchive">
			<td *ngIf="isEdit"><input type="checkbox" [checked]="index === i" (change)="setIdHandler(i, item.id)"></td>
			<td>{{item.id}}</td>
			<td><span class="buddyName" (click)=isShowBuddyInfoHandler(item.id)>{{item.name}} {{item.surname}}</span></td>
			<td *ngIf="isEmail">{{item.email}}</td>
			<td><span style="max-width: 400px; white-space: pre-wrap; word-wrap: break-word;">{{item.localFaculty}}</span></td>
			<td>{{item.citizenship || '-'}}</td>
			<td>{{item.foreignStudent ? item.foreignStudent.length : 0}}</td>
			<td>
					<span class="buddyName" (click)=isShowStudentInfoHandler(student.id)
								*ngFor="let student of item.foreignStudent">{{student.name}} {{student.surname}}
          </span>
				<span class="buddyName" (click)="isAddBuddy ? showMessage(item.id) : showTable(item.id)">+</span>
			</td>
		</tr>
		</tbody>

	</table>
	<div *ngIf="isShowBuddyInfo">

    <app-buddy-info
      [buddyInfo]="buddyInfo"
      (deny)="isShowBuddyInfo=false"
    ></app-buddy-info>

	</div>
	<div *ngIf="isShowStudentInfo">
		<app-student-info
      [studentInfo]="studentInfo"
      (deny)="isShowStudentInfo=false">
    </app-student-info>
	</div>
</div>

<div *ngIf="isShowTable" class="backdrop" (click)="isShowTable=false"></div>


<div *ngIf="isShowTable" class="main">
	<div class="title">Assign student</div>

	<div class="showTable">
		<app-student-table (studentId)="addStudent($event)" [isAddStudent]="true" [isEmail]="false"
											 [isArchive]="false"></app-student-table>
	</div>

	<button class="btn btn-secondary btn-close" (click)="isShowTable=false">Close</button>
</div>

<span *ngIf="isShowMessage"><app-popup (deny)="isShowMessage = false" (accept)="buddyIdHandler()" [title]="TITLE"></app-popup></span>

