<div class="table-container">
	<table class="table" >
		<thead>
		<tr>
			<th *ngIf="isEdit"></th>
			<th>№</th>
			<th>{{PLACEHOLDER_LOCALIZATION.FULL_NAME}}</th>
			<th *ngIf="isEmail">{{PLACEHOLDER_LOCALIZATION.EMAIL}}</th>
			<th>{{PLACEHOLDER_LOCALIZATION.FACULTY}}</th>
			<th>{{PLACEHOLDER_LOCALIZATION.CITIZENSHIP}}</th>
			<th>{{NUMBER_OF_IS}}</th>
			<th>{{STUDENT}}</th>
		</tr>
		</thead>
		<tbody *ngFor="let buddy of buddies; let i = index">
		<tr *ngIf="buddy.archived === isArchive">
			<td *ngIf="isEdit"><input type="checkbox" [checked]="index === i" (change)="setIdHandler(i, buddy.id)"></td>
			<td>{{buddy.id}}</td>
			<td><span class="buddyName" (click)=isShowBuddyInfoHandler(buddy.id)>{{buddy.name}} {{buddy.surname}}</span></td>
			<td *ngIf="isEmail">{{buddy.email}}</td>
			<td><span style="max-width: 400px; white-space: pre-wrap; word-wrap: break-word;">{{buddy.localFaculty}}</span></td>
			<td>{{buddy.citizenship || '-'}}</td>
			<td>{{buddy.foreignStudent ? buddy.foreignStudent.length : 0}}</td>
			<td>
					<span class="buddyName" (click)=isShowStudentInfoHandler(student.id)
								*ngFor="let student of buddy.foreignStudent">{{student.name}} {{student.surname}}
          </span>
				<span class="buddyName" (click)="isAddBuddy ? showMessage(buddy.id) : showTable(buddy.id)">+</span>
			</td>
		</tr>
		</tbody>

	</table>
	<div *ngIf="isShowBuddyInfo">

    <app-buddy-info
      [buddyInfo]="buddyInfo"
      (deny)="isShowBuddyInfo=false"
    ></app-buddy-info>

	</div>
	<div *ngIf="isShowStudentInfo">
		<app-student-info
      [studentInfo]="studentInfo"
      (deny)="isShowStudentInfo=false">
    </app-student-info>
	</div>
</div>

<div *ngIf="isShowTable" class="backdrop" (click)="isShowTable=false"></div>


<div *ngIf="isShowTable" class="main">
	<div class="title">{{ASSIGN_STUDENT}}</div>

	<div class="showTable">
		<app-student-table (studentId)="addStudent($event)" [isAddStudent]="true" [isEmail]="false"
											 [isArchive]="false"></app-student-table>
	</div>

	<button class="btn btn-secondary btn-close" (click)="isShowTable=false">{{GLOBAL_LOCALIZATION.BUTTON_CLOSE_LABEL}}</button>
</div>

<span *ngIf="isShowMessage"><app-popup (deny)="isShowMessage = false" (accept)="buddyIdHandler()" [title]="POPUP_LOCALIZATION.ASSIGN_POPUP"></app-popup></span>

