<p class="title">Sign up</p>
<div class="wrapper">
  <div class="all-blocks">
    <div class="block"  [routerLink]="['/sign-up-buddy_manual']">
      <p class="subtitle">Buddy</p>
      <p class="text">Volunteer from a student organization</p>
    </div>
    <div class="block" [routerLink]="['/sign-up-student']">
      <p class="subtitle" >Student</p>
      <p class="text">A foreigner who studies at the HSE</p>
    </div>
  </div>
  <p class="description">Select the profile type</p>
  <div class="button" >
  <button class="btn btn-secondary"  [routerLink]="['']">Back</button>
  </div>
</div>
