<p class="title">{{HEADER}}</p>
<div class="wrapper">
  <div class="all-blocks">
    <div class="block"  [routerLink]="['/sign-up-buddy_manual']">
      <p class="subtitle">{{BUDDY_TITLE}}</p>
      <p class="text">{{BUDDY_TEXT}}</p>
    </div>
    <div class="block" [routerLink]="['/sign-up-student']">
      <p class="subtitle" >{{STUDENT_TITLE}}</p>
      <p class="text">{{STUDENT_TEXT}}</p>
    </div>
  </div>
  <p class="description">{{SELECT}}</p>
  <div class="button" >
  <button class="btn btn-secondary"  [routerLink]="['']">{{GLOBAL_LOCALIZATION.BUTTON_BACK_LABEL}}</button>
  </div>
</div>
