
<a class="wrapper" (click)="goToAllBuddies()">
  <div>
    <div class="card-title">All buddies</div>
    <div class="content">Numbered page of all buddies - you can go to each profile and view personal information.
    </div>
  </div>
</a>

<div class="wrapper" (click)="goToInternationalBuddies()">
  <div>
    <div class="card-title">All international students</div>
    <div class="content">Numbered page of all international students - you can go to each profile and view personal information.
    </div>
  </div>
</div>

<div class="wrapper" (click)="goToMatchingChart()">
  <div>
    <div class="card-title">Matching chart</div>
    <div class="content">Numbered page of international students with assigned buddies</div>
  </div>
</div>

<div class="wrapper" (click)="goToActionLog()">
  <div>
    <div class="card-title">Action log</div>
    <div class="content">List of actions performed in the system</div>
  </div>
</div>


