@import "../../../../../styles/variables";

.wrapper {
  width: 960px;
  padding: 32px 32px;

  margin-left: 48px;
  margin-top: 45px;
  background: #F5F6FA;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  transition: border, box-shadow .3s;

}

.wrapper:hover {
  border: 1px solid #aaa;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}



.card-title {
  font: $hse-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #0F0F14;
}

.content {
  width: 640px;
  margin-top: 16px;
  font: $hse-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #0F0F14;
}
