
<a class="wrapper" (click)="goToAllBuddies()">
  <div>
    <div class="card-title">{{ALL_BUDDIES_TITLE}}</div>
    <div class="content"> {{ALL_BUDDIES_TEXT}}</div>
  </div>
</a>

<div class="wrapper" (click)="goToInternationalBuddies()">
  <div>
    <div class="card-title">{{ALL_IS_TITLE}}</div>
    <div class="content">{{ALL_IS_TEXT}}</div>
  </div>
</div>

<div class="wrapper" (click)="goToMatchingChart()">
  <div>
    <div class="card-title">{{CHART_TITLE}}</div>
    <div class="content">{{CHART_TEXT}}</div>
  </div>
</div>

<div class="wrapper" (click)="goToActionLog()">
  <div>
    <div class="card-title">{{LOG_TITLE}}</div>
    <div class="content">{{LOG_TEXT}}</div>
  </div>
</div>


