@import "src/styles/variables";

/*
.wrapper{
  display: grid;
  justify-content: left;
  grid-template-columns: 30% 30% 30% ;
  align-items: center;
  width: 1000px;
}


.container{
  max-width: 1600px;
  margin-top: 15px;
  margin-left: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title{
  margin-top: 35px;
  font: $hse-font-family;
  margin-left: 120px;
  margin-bottom: 16px;
  font-weight:400;
  font-size: 56px;
  line-height: 64px;
}
.tag {
  display:inline-block;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  padding-left: 50px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  padding-top: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.upd {
  padding: 50px;
}

.text {
  font-size: 30px;
  padding-left: 50px;
  font: $hse-font-family;
  font-weight: 900;
  font-style: inherit;
}

.text2 {
  font: $hse-font-family;
  font-weight: normal;
  font-style: normal;
}
.card {
  margin: 15px;
  max-width: 285px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid $color-grey-morn-1;
  border-radius: 8px;
  font: $hse-font-size-base;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  transition: border, box-shadow .3s;

}

.card:hover {
  border: 1px solid #aaa;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}

.card-btn-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
}
.card-faculty{
  font: $hse-font-family-alt;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0;
  color: #000000;
}
.card-text{
  font: $hse-font-family-alt;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.card-date{
  font: $hse-font-family-alt;
  font-weight: 400;
  max-width: 120px;
  font-size: 16px;
  line-height: 20px;
  width: 120px !important;
  float: left;
  margin-left: 16px;
  margin-top: 25px;
  color: $color-grey-dusk-1;
  text-align: left;
}
.icon{
  width: 80px;
  height: 80px;
  float: left;
  color: $color-grey-morn-3;
}
.one-line{
  float: left;
}


.main {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1003;
  width: 1169px;
  min-height: 500px;
  padding: 40px 40px 80px 40px;
  background-color: $color-base-white;
  border: 1px solid $color-grey-morn-1;
  border-radius: 12px;
  overflow-y: auto;
}

.backdrop {
  position: fixed;
  z-index: 1002;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0.65);
}

.tableTitle {
  margin-bottom: 20px;
  font: $hse-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.btn-close{
  position: absolute;
  bottom: 25px;
  left: 25px;
}

*/

.main {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1004;
  width: 1169px;
  min-height: 500px;
  padding: 40px 40px 80px 40px;
  background-color: $color-base-white;
  border: 1px solid $color-grey-morn-1;
  border-radius: 12px;
  overflow-y: auto;
}

.backdrop {
  position: fixed;
  z-index: 1002;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 7, 18, 0.65);
}

.tableTitle {
  margin-bottom: 20px;
  font: $hse-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.btn-close {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.wrapper {
  width: 960px;
  margin-left: 48px;
  margin-top: 45px;
}

.wrapper0 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

.title {
  margin-top: 47px;
  font: $hse-font-family;
  margin-left: 107px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
}

.tag {
  display: inline-block;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  padding-left: 50px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  padding-top: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.upd {
  padding: 50px;
}

.text {
  font-size: 30px;
  padding-left: 50px;
  font-family: 'HSE Sans';
  font-weight: 900;
  font-style: inherit;
}

.text2 {
  font-family: 'HSE Sans';
  font-weight: normal;
  font-style: normal;
}

.card {
  width: 285px;
  padding: 24px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid $color-grey-morn-1;
  font: $hse-font-size-base;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  transition: border, box-shadow .3s;
  cursor: pointer;
}

.card:hover {
  border: 1px solid #aaa;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}

.card-btn-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
}

.card-faculty {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: $hse-font-family-alt;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0px;
}

.card-text {
  font: $hse-font-family-alt;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.card-date {
  font: $hse-font-family-alt;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 120px;
  float: left;
  margin-left: 16px;
  color: $color-grey-dusk-1;
  text-align: center;
}

.icon {
  width: 80px;
  height: 80px;
  float: left;
  color: $color-grey-morn-3;
}

.one-line {
  float: left;
}

