<p class="title">Dashboard</p>

<div>
  <div class="wrapper">
    <div class="column" *ngFor="let student of student; let i = index">
      <div class="card">
        <div class="one-line">
          <div class="icon">
            <app-icon name="person"></app-icon>
          </div>
          <div class="card-date">{{date[i].toLocaleString("ru-RU")}}</div>
        </div>
        <div class="card-faculty"> Faculty: {{student.foreignStudent.localFaculty}}</div>
        <div class="card-text">Country: {{student.foreignStudent.homeCountry}}</div>
        <div class="card-btn-container">
          <button class="btn btn-secondary"
                  (click)="onInfoStudent(student.tagList, student.id, student.gender, student.birthDate, student.foreignStudent.homeCountry, student.campus,
                  student.localFaculty, student.foreignStudent.homeUniversity, student.foreignStudent.localGroup, student.about,
                   student.foreignStudent.arrivalDateTime, student.foreignStudent.arrivalPlace, student.foreignStudent.residencePlace,
                   student.foreignStudent.address, student.email, student.name, student.surname)">
            info
          </button>
          <button class="btn btn-primary" (click)="addStudentId(student.id)">take</button>
        </div>
      </div>
      <div class="info" *ngIf="id === student.id">

        <app-student-info
          [gender]="this.gender"
          [birthDate]="this.birthDate"
          [citizenship]="this.homeCountry"
          [localFaculty]="this.localFaculty"
          [homeUniversity]="this.homeUniversity"
          [about]="this.about"
          [tagList]="this.tagList"

          [email]="this.email"
          [category]="this.localGroup"
          [arrivalDate]="this.arrivalDate"
          [arrivalTime]="this.arrivalTime"
          [arrivalPlace]="this.arrivalPlace"
          [place]="this.residencePlace"
          [address]="this.address"
          [name]="this.name"
          (clicked)="id = -1"

        ></app-student-info>
      </div>
    </div>
  </div>
  <div></div>
</div>











<div *ngIf="isShowTable" class="backdrop" (click)="isShowTable=false"></div>

<div *ngIf="isShowTable" class="main">
	<div class="tableTitle">Assign buddy</div>
	<div>
		<app-buddy-table (BuddyId)="addBuddyId($event)" [isAddBuddy]="true" [isEmail]="false"
											 [isArchive]="false"></app-buddy-table>
	</div>
	<button class="btn btn-secondary btn-close" (click)="isShowTable=false">Close</button>
</div>



